body {
    background-color: mistyrose;
    color: black;
}

.header_div {
    background-color: aliceblue;
    color: black;
}

.header_div p {
    color: black;
    font-weight: lighter;
    font-size: smaller;
    letter-spacing: 1px;
    font-family: 'Quicksand', sans-serif;
}

.main_div button {
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    letter-spacing: 3px;
    padding: 4px;
    font-size: larger;
}

.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: smaller;
    background-color: aliceblue;
    line-height: 3;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 5px 5px 5px rgb(78, 66, 245);
}